<div class="center" ng-controller="ContatosController">
	<div>AngularJS starter application</div>
	<div>This is Contatos View</div>
	<br />

	<table class="table">
		<tbody>
			<tr ng-repeat="c in contacts" ng-click="selectContact(c)">
				<td>{{c.userid}}</td>
				<td>{{c.name}}</td>
				<td>{{c.status}}</td>
			</tr>
		</tbody>
	</table>

	<br/>
	
	<div ng-show="!selectedContact">Nenhum contato selecionado</div>
	<div ng-show="selectedContact">
		Contato selecionado: [{{selectedContact.status}}] {{selectedContact.name}}
		<br/>
		<form method="post" ng-submit="submitEnviarMensagem()">
			Enviar mensagem:<br /><br />
			<div>
			    <label for="userid">Mensagem:</label>
			    <input type="text" id="content" ng-model="content" required />
			</div>
			<input type="submit" value="Enviar"/>
		</form>
	</div>
</div>
