<div class="center">
	<div>Tela de login</div>
	<br />
	
	<div ng-show="isLogged()">
		Usuário logado!
		<br/>
		<a href="#/logout" ng-click="submitLogout()">Logout</a>
	</div>
	
	<div ng-show="!isLogged()">

		<form method="post" ng-submit="submitLogin()">
			Por favor preencha os campos:<br /><br />
			<div>
			    <label for="userid">Usuário:</label>
			    <input type="text" id="userid" ng-model="userid" required />
			</div>
			<div>
			    <label for="password">Senha:</label>
			    <input type="password" id="password" ng-model="password" required />
			</div>
			<input type="submit" value="Login"/>

			<br/><br/>
			<a href="#/register" ng-click="registerView()">Clique aqui para cadastrar novo usuário</a>
		</form>

	</div>

</div>
